scikit-build
decorator==4.4.2
Flask==1.1.2
FLask-migrate==2.7.0
sqlalchemy==1.4.15
numpy==1.18
scikit-image==0.17.2
scipy==1.5.4
dataclasses==0.6
matplotlib
filterpy==1.4.5
scikit-image==0.17.2
lap==0.4.0
torchaudio==0.7.0
torchvision==0.8.1
